<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Hidden Page Input Transactions</title>
</head>
<body>

	<h1>Input Credit Card Transactions</h1>

	<p>
		For user: <span th:text="${user.username}"></span>, credit card: <span th:text="${selectedCreditCardName}"></span>
	</p>


	<form method="post" action="hidden-input-transaction">

		<label for="transactionType">Transaction Type:</label> 
		<select id="transactionType" name="transactionType">
			<option value="Purchase/Pay Off CC Bill">Purchase/Pay Off CC Bill</option>
			<option value="Installment">Interest Free Installment</option>
			<option value="Forex">Foreign Currency Purchase</option>
		</select> 
		<input type="submit" value="Select Transaction Type"/>
		
	
	</form>
	<br>
	<a href="hidden">Click here to go back to main hidden page</a>

</body>
</html>